APP_ENV=development
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173


SECRET_KEY=replace_with_a_secure_secret

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=finance
DATABASE_USER=finance_app
DATABASE_PASSWORD=AMROAT10UOK
ALLOWED_HOSTS=localhost,127.0.0.1